{% extends "FairpayStudentBundle:Admin:layout.html.twig" %}

{% trans_default_domain "entities" %}

{% block heading %}
    <h1>Liste des étudiants</h1>
{% endblock %}

{% block body %}
    <div data-paginate="/students">
        Chargement...
        <script id="template" type="text/html">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'student.first_name'|trans }}</th>
                    <th>{{ 'student.last_name'|trans }}</th>
                    <th>{{ 'student.school_year'|trans }}</th>
                    <th>{{ 'student.email'|trans }}</th>
                    <th>{{ 'student.is_sub'|trans }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    [[for data]]
                        <tr>
                            <td>[[:first_name]]</td>
                            <td>[[:last_name]]</td>
                            <td>[[:school_year]]</td>
                            <td>[[:email]]</td>
                            <td>
                                [[if is_sub]]
                                    {{ true | label }}
                                [[else]]
                                    {{ false | label }}
                                [[/if]]
                            </td>
                            <td class="actions">
                                <a class="btn info" href="{{ path_tmpl('fairpay_profile_student') }}">
                                    Voir
                                </a>
                            </td>
                        </tr>
                    [[/for]]
                </tbody>
            </table>
        </script>
    </div>
{% endblock %}

