{% extends "::layout.html.twig" %}

{% trans_default_domain "entities" %}

{% block heading %}
    <h1>
        <span class="label success">Étudiant</span> {{ student.full_name }}
    </h1>
{% endblock %}


{% block body %}
    <p>
        <a href="{{ path('fairpay_student_edit', {'id': student.id}) }}" class="btn">Editer cet étudiant</a>
    </p>
    {% if not student.has_account %}
        <p>
            Cet étudiant n'a pas de compte. <a href="{{ path('fairpay_student_create_user', {'id': student.id}) }}">Creer</a>
        </p>
    {% else %}
        <p>
            <b>{{ 'user.balance'|trans }} :</b> {{ student.balance|format_price }}
        </p>
    {% endif %}
    <p>
        <b>{{ 'student.email'|trans }} :</b> {{ student.email }}
    </p>
    <p>
        <b>{{ 'student.gender'|trans }} :</b> {{ student.gender|default|format_gender }}
    </p>
    <p>
        <b>{{ 'student.school_year'|trans }} :</b> {{ student.school_year }}
    </p>
    <p>
        <b>{{ 'student.birthday'|trans }} :</b> {{ student.birthday|default('student.values.birthday.unknown'|trans) }}
    </p>
    <p>
        <b>{{ 'student.phone'|trans }} :</b> {{ student.phone|default|format_phone }}
    </p>
    <p>
        <b>{{ 'student.is_sub'|trans }} :</b> {{ student.is_sub|label }}
    </p>

    <h4>Historique de ses cotisations</h4>

    {% if sub_history|length %}
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Nouvel état</th>
                    <th>Auteur</th>
                </tr>
            </thead>
            <tbody>
                {% for history in sub_history %}
                    <tr>
                        <td>{{ history.createdAt|format_date }}</td>
                        <td>{{ history.state|label }}</td>
                        <td>{{ history.updatedBy }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Cet utilisateur n'a subit aucune modification de son statut de cotisant.</p>
    {% endif %}
{% endblock %}
