<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('compiled/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="navbar" style="background-color:#65c9fd;">
            <div class="switcher">
                <div class="padder" style="background-color:#41BEFF;">
                    <div class="standard">
                        Férus
                    </div>
                    <div class="small">
                        F
                    </div>
                </div>
            </div>
            <nav>

            </nav>
            <div class="pull-right">
                <nav>
                    <div class="user">
                        <div class="user-photo">

                        </div>
                    </div>
                    <div class="important">

                    </div>
                </nav>
            </div>
        </div>
        <div class="page">
            <div class="left">

            </div>
            <div class="right">
                <div class="container">
                    {% block heading %}{% endblock %}
                </div>
                <div class="data-section">
                    <div class="container">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <script id="tmpl-pager" type="text/html">
            [[if prev]]<button data-goto-page="[[:page-1]]">Précédent</button>[[/if]]
            [[if next]]<button data-goto-page="[[:page+1]]">Suivant</button>[[/if]]
        </script>

        {% block javascripts %}
            <script type="text/javascript">
                var api = {
                    host: 'api.{{ base_host }}',
                    token: '{{ api_token() }}'
                };
            </script>
            <script type="text/javascript" src="{{ asset('lib/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('lib/jsviews/jsviews.min.js') }}"></script>
            <script type="text/javascript">
                $.views.settings.delimiters("[[", "]]");
            </script>
            <script type="text/javascript" src="{{ asset('src/js/paginator.js') }}"></script>
        {% endblock %}
    </body>
</html>
